body{
  font-family:"arial";
}
img{
  width:300px;
  height:auto;
}
ul{
  list-style-type:none;
}
.ScreenInvert .box{
  background-color:red;
  float:left;
  padding:20px;
}
.ScreenInvert img{
  -webkit-filter:invert()
  contrast(1.1);
  mix-blend-mode:screen;
}
.code{
  position: relative;
  right: -80px;
}